@using Eventures.ViewModels
@model EventInputModel

@{
    ViewData["Title"] = "Create Event";
}

<div class="event-container">
    <h1 class="create-title">@ViewData["Title"]</h1>

    <div>
        <div>
            <form class="event-form" asp-controller="Events" asp-action="CreateEvent" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="event-name-place">
                    <div class="event-name">
                        <label asp-for="@Model.Name"></label>
                        <input asp-for="@Model.Name" type="text" class="input-field form-control" placeholder="Iron Maidon - Hills of Rock" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="event-place">
                        <label asp-for="@Model.Place"></label>
                        <input asp-for="@Model.Place" type="text" class="input-field form-control" placeholder="Plovdiv Bulgaria" />
                        <span asp-validation-for="@Model.Place" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="event-start-end">
                    <div class="event-start">
                        <label asp-for="@Model.Start"></label>
                        <input asp-for="@Model.Start" type="datetime" datetime="dd-MMM-yy hh:mm:ss" placeholder="20-Jul-2018 22:00" class="input-field form-control"  />
                        <span asp-validation-for="@Model.Start" class="text-danger"></span>
                    </div>
                    <div class="event-end">
                        <label asp-for="@Model.End"></label>
                        <input asp-for="@Model.End" type="datetime" datetime="dd-MMM-yy hh:mm:ss" placeholder="21-Jul-2018 04:00" class="input-field form-control" />
                        <span asp-validation-for="@Model.End" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="event-tickets-price">
                    <div class="event-tickets">
                        <label asp-for="@Model.Tickets"></label>
                        <input asp-for="@Model.Tickets" type="number" class="input-field form-control" placeholder="1000" />
                        <span asp-validation-for="@Model.Tickets" class="text-danger"></span>
                    </div>
                    <div class="event-price">
                        <label asp-for="@Model.TicketPrice"></label>
                        <input asp-for="@Model.TicketPrice" type="number" class="input-field form-control" placeholder="150" />
                        <span asp-validation-for="@Model.TicketPrice" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <button type="submit" class="create-btn btn btn-primary">Create Event</button>
            </form>
        </div>

    </div>

</div>

@section Scripts {
    <link href="~/css/create-event-style.css" rel="stylesheet" />
}